@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
  font-display: swap;
  font-style: normal;
}

:root {
  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000000;

  --primary-color: #8f0101;
  --secondary-color: #b81515;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

/* CSS RESET */
body,
img,
h1,
h2,
h3,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

body {
  font-family: "Montserrat";
  color: var(--text-primary-color);
}

.offers-title h2 {
  font-size: 28px;
  font-weight: var(--title-weight);
  text-align: center;
}

.offers-title hr {
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  border: none;
  margin: 16px auto 32px auto;
}

@media screen and (min-width: 768px) {
  .offers-title h2 {
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .button:hover {
    background-color: var(--primary-color);
  }
}
