.hero-mobile-img {
  height: 400px;
  width: 100%;
  background: url(../img/hero-mobile.jpg) center no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .hero-mobile-img {
    height: 620px;
    background: url(../img/hero-tablet.jpg) center no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  .hero-mobile-img {
    height: 620px;
    background: url(../img/hero-desktop.jpg) center no-repeat;
    background-size: cover;
  }
}
