.hero-img {
  height: 400px;
  width: 100%;
  background: url(../img/hero-mobile.jpg) center no-repeat;
  background-size: cover;
}

.hero-text {
  font-size: 20px;
  font-weight: var(--text-weight);
  padding: 88px 24px;
  text-align: center;
  line-height: 32px;
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    background: url(../img/hero-tablet.jpg) center no-repeat;
    background-size: cover;
  }
  .hero-text {
    font-size: 32px;
    padding: 88px 60px;
    line-height: 48px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    height: 620px;
    background: url(../img/hero-desktop.jpg) center no-repeat;
    background-size: cover;
  }
  .hero-text {
    font-size: 32px;
    padding: 104px 160px;
    line-height: 48px;
  }
}

@media screen and (min-width: 1920px) {
  .hero-text {
    font-size: 32px;
    padding: 104px 160px;
    line-height: 48px;
  }
}
