@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
  font-display: swap;
  font-style: normal;
}

:root {
  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000000;

  --primary-color: #8f0101;
  --secondary-color: #b81515;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

/* CSS RESET */
body,
img,
h1,
h2,
h3,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

body {
  font-family: "Montserrat";
  color: var(--text-primary-color);
}

section{
  width: 312px;
  margin: 0 auto;
  margin-bottom: 88px;
}

hr {
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  border: none;
  margin: 16px auto 32px auto;
}

.title h2 {
  font-size: 32px;
  font-weight: var(--title-weight);
  text-align: center;
  margin-top: 64px;
}


@media screen and (min-width: 768px){
  section{
    width: 648px;
  }
}

@media screen and (min-width: 1440px){
  section{
    width: 1200px;
    margin-bottom: 104px;
  }
  
}
