header {
  background-color: var(--background-tertiary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 38px 48px;
  position: relative;
}

nav {
  display: none;
}

.logo-mobile {
  width: 68px;
  height: 64px;
}

.logo {
  display: none;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--background-tertiary-color);
  width: 100%;
}

.list-links li a {
  text-decoration: none;
  color: var(--text-secondary-color);
  font-size: 24px;
}

.list-links li a[href="viagens.html"] {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  nav {
    display: block;
  }
  label {
    display: none;
  }
  .list-links {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: space-between;
    gap: 40px;
  }
  .list-links li a {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .logo-mobile {
    display: none;
  }
  .logo {
    display: block;
  }
  header {
    padding: 38px 10%;
  }
  .list-links li > a:hover {
    color: var(--primary-color);
  }
  .list-links li > a:active {
    text-decoration: underline;
    color: var(--background-primary-color);
  }
}
