section.hero {
  width: 100%;
  height: 100%;
}

div.hero-img {
  background-image: url(../img/hero-tpackage-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.hero-content {
  padding: 65px 24px;
}

.hero-content h1 {
  font-size: 48px;
  font-weight: var(--title-weight);
  color: var(--text-secondary-color);
}

.hero-content hr {
  position: relative;
  margin: 16px 0 32px 0;
}

.hero-content p {
  font-size: 20px;
  font-weight: var(--text-weight);
  color: var(--text-secondary-color);
  line-height: 32px;
}

@media screen and (min-width: 768px) {
  div.hero-img {
    background-image: url(../img/hero-tpackage-tablet.png);
    height: 620px;
  }

  .hero-content {
    padding: 209.26px 69px 107.74px 120px;
    width: 579px;
    height: 303px;
  }

  .hero-content p {
    font-size: 32px;
    line-height: 150%;
  }
}

@media screen and (min-width: 1440px) {
   div.hero-img {
    background-image: url(../img/hero-tpackage-desktop.png);
    height: 620px;
  }
  
  .hero-content{
    padding: 158px 741px 158px 120px;
  }
}
