.hero-bottom {
  width: 100%;
  height: 400px;
  padding: 0;
  margin: 0;
}

.hero-bottom-img {
  background-image: url(../img/hero2-footer-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  margin-top: 88px;
}

@media screen and (min-width: 768px) {
  .hero-bottom-img {
    background-image: url(../img/hero2-footer-img-tablet.png);
  }
}

@media screen and (min-width: 1440px) {
  .hero-bottom {
    height: 600px;
  }
  .hero-bottom-img {
    background-image: url(../img/hero2-footer-img-pc.png);
    height: 600px;
    margin-top: 104px;
  }
}
