.payments {
  height: 963px;
}

.payment-content header {
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: 24px;
}

.payment-content header h3:first-child {
  font-size: 40px;
  font-weight: var(--title-weight);
}

.payment-content header h3:last-child {
  font-size: 28px;
  font-weight: var(--title-weight);
  margin-bottom: 24px;
}

.payment-content p {
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 24px;
}

.payment-button {
  width: 312px;
  height: 64px;
  background-color: var(--secondary-color);
  padding: 16px;
  border-radius: 8px;
  box-sizing: border-box;
  text-align: center;
}

.pay-one {
  background-image: url(../img/grid-img-japan.png);
  width: 144px;
  height: 254px;
  background-position: center top;
}

.pay-two {
  background-image: url(../img/grid-img-japan2.png);
  width: 144px;
  height: 254px;
  background-position: center left;
}

.pay-three {
  background-image: url(../img/grid-img-japan3.png);
  width: 312px;
  height: 182px;
  background-position: center top;
}

.payment-imgs{
    display: grid;
    grid-template: 254px 182px / 144px 144px;
    grid-template-areas: "left right" "bottom bottom";
    gap: 24px;
}

/* nao colocar margin-bottom no payment-imgs, colocar no flex na div article imgs, fazer tablet e pc */